/* CSS declarations go here */
.banner {
  padding: 10px;
  color: white;
}

.banner-content--example {
  padding: 10px;
  background: white;
}

.banner--warning {
  background-color: #e35757;
}

.banner--loading {
  background-color: #f6a624;
}

.banner--success {
  background-color: #19cb52;
}
