/* CSS declarations go here */
.example--1 {
  position: absolute;
  bottom: 50%;

  height: 50%;
  width: 100%;
}

.example--2 {
  position: absolute;
  top: 50%;

  height: 50%;
  width: 100%;
}

.banner--example {
  padding: 10px;
  background: red;
  color: white;
}

.banner-content--example {
  padding: 10px;
  background: white;
}
